allow platform_app adbd:dir search;
allow platform_app adbd:file { read getattr open };
allow platform_app adsprpcd:dir search;
allow platform_app adsprpcd:file { read open };
allow platform_app audiod:dir search;
allow platform_app audiod:file { read open };
allow platform_app debuggerd:dir search;
allow platform_app debuggerd:file { read open };
allow platform_app drmserver:dir search;
allow platform_app drmserver:file { read open };
allow platform_app fingerprintd:dir search;
allow platform_app fingerprintd:file { read open };
allow platform_app gatekeeperd:dir search;
allow platform_app gatekeeperd:file { read open };
allow platform_app healthd:dir search;
allow platform_app healthd:file { read getattr open };
allow platform_app hvdcp:dir search;
allow platform_app hvdcp:file { read open };
allow platform_app init:dir search;
allow platform_app init:file { read getattr open };
allow platform_app installd:dir search;
allow platform_app installd:file { read open };
allow platform_app isolated_app:dir search;
allow platform_app isolated_app:file { read open };
allow platform_app kernel:dir search;
allow platform_app kernel:file { read getattr open };
allow platform_app keystore:dir search;
allow platform_app keystore:file { read open };
allow platform_app lmkd:dir search;
allow platform_app lmkd:file { read getattr open };
allow platform_app location:dir search;
allow platform_app location:file { read open };
allow platform_app logd:dir search;
allow platform_app logd:file { read getattr open };
allow platform_app mediaserver:dir search;
allow platform_app mediaserver:file { read open };
allow platform_app mm-pp-daemon:dir search;
allow platform_app mm-pp-daemon:file { read open };
allow platform_app mm-qcamerad:dir search;
allow platform_app mm-qcamerad:file { read open };
allow platform_app netd:dir search;
allow platform_app netd:file { read open };
allow platform_app netmgrd:dir search;
allow platform_app netmgrd:file { read open };
allow platform_app per_mgr:dir search;
allow platform_app per_mgr:file { read open };
allow platform_app perfd:dir search;
allow platform_app perfd:file { read open };
allow platform_app perfprofd:dir search;
allow platform_app perfprofd:file { read open };
allow platform_app qmuxd:dir search;
allow platform_app qmuxd:file { read open };
allow platform_app qseeproxy:dir search;
allow platform_app qseeproxy:file { read open };
allow platform_app radio:dir search;
allow platform_app radio:file { read open };
allow platform_app rild:dir search;
allow platform_app rild:file { read open };
allow platform_app rmt_storage:dir search;
allow platform_app rmt_storage:file { read open };
allow platform_app sdcardd:dir search;
allow platform_app sdcardd:file { read open };
allow platform_app sensors:dir search;
allow platform_app sensors:file { read open };
allow platform_app servicemanager:dir search;
allow platform_app servicemanager:file { read open };
allow platform_app sudaemon:dir search;
allow platform_app sudaemon:file { read getattr open };
allow platform_app surfaceflinger:dir search;
allow platform_app surfaceflinger:file { read open };
allow platform_app system_app:dir search;
allow platform_app system_app:file { read getattr open };
allow platform_app system_server:dir search;
allow platform_app system_server:file { read open };
allow platform_app tee:dir search;
allow platform_app tee:file { read open };
allow platform_app themeservice_app:dir search;
allow platform_app themeservice_app:file { read open };
allow platform_app thermal-engine:dir search;
allow platform_app thermal-engine:file { read open };
allow platform_app time_daemon:dir search;
allow platform_app time_daemon:file { read open };
allow platform_app ueventd:dir search;
allow platform_app ueventd:file { read getattr open };
allow platform_app untrusted_app:dir search;
allow platform_app untrusted_app:file { read getattr open };
allow platform_app vold:dir search;
allow platform_app vold:file { read getattr open };
allow platform_app wcnss_service:dir search;
allow platform_app wcnss_service:file { read open };
allow platform_app wpa:dir search;
allow platform_app wpa:file { read open };
allow platform_app zygote:dir search;
allow platform_app zygote:file { read open };
